.u-section-1 {
  background-position: 50% 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("/static/images/bnnnbn.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-shape-1 {
  width: 364px;
  height: 364px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 302px auto 0 179px;
}

.u-section-1 .u-shape-2 {
  width: 371px;
  height: 429px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -554px auto 0 590px;
}

.u-section-1 .u-group-1 {
  width: 599px;
  min-height: 379px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -313px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 0 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 150px 0 112px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 262px;
    margin-left: 81px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -534px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -341px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 244px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    height: 369px;
    margin-top: -523px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-group-1 {
    width: 455px;
    min-height: 398px;
    margin-top: -298px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 103px;
    margin-right: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 253px;
    margin-top: 238px;
  }

  .u-section-1 .u-shape-2 {
    width: 255px;
    height: 253px;
    margin-top: -387px;
  }

  .u-section-1 .u-group-1 {
    min-height: 302px;
    width: 287px;
    margin-top: -207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 3px;
    margin-right: 41px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 393px;
}

.u-section-2 .u-list-1 {
  width: 934px;
  margin: -125px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  min-height: 438px;
  grid-gap: 16px 16px;
  grid-auto-columns: calc(50% - 8px);
}

.u-section-2 .u-list-item-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 20px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.0625rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 20px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 40px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.0625rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 361px;
  }

  .u-section-2 .u-list-item-1 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }

  .u-section-2 .u-list-item-2 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 825px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    min-height: 446px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 304px;
}

.u-section-3 .u-text-1 {
  width: 710px;
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  width: 710px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 38px auto 60px;
  padding: 18px 55px 18px 54px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 59px;
  }
}
.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1171px;
}

.u-section-4 .u-image-1 {
  width: 452px;
  height: 452px;
  background-image: url("/static/images/avengers.jpeg");
  background-position: 23.07% 50%;
  margin: 650px auto 0 235px;
}

.u-section-4 .u-image-2 {
  width: 379px;
  height: 379px;
  background-image: url("/static/images/godzilla.jpeg");
  background-position: 55.8% 50%;
  margin: -1061px 46px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 161px;
  height: 161px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: -307px auto 0 435px;
}

.u-section-4 .u-shape-2 {
  width: 111px;
  height: 111px;
  margin: 547px 162px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 435px;
  height: 435px;
  background-image: url("/static/images/gameofthrones.webp");
  background-position: 63.3% 50%;
  margin: -735px auto 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 281px;
  width: 611px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  margin: -177px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 27px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 21px 0 0 auto;
  padding: 18px 55px 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 670px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1082px;
    margin-right: -12px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -336px;
    margin-left: 349px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 606px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 699px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1111px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -371px;
    margin-left: 152px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 670px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 88px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -366px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 665px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 986px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1306px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -85px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -187px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 295px;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}
.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 368px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 758px;
  margin: 32px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 16px 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 179px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 13px 1px;
}

.u-section-5 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 450px;
  min-height: 178px;
  height: auto;
  margin: -50px 7px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 13px 1px;
}

.u-section-5 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-2 {
  width: 450px;
  min-height: 178px;
  height: auto;
  margin: -50px 7px 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 147px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 348px;
    margin-left: 84px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 348px;
    margin-left: 84px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-5 .u-group-1 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-5 .u-group-2 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-group-1 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-5 .u-group-2 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }
}
.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 552px;
}

.u-section-6 .u-list-1 {
  width: 945px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 355px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  width: 261px;
  height: 261px;
  background-image: url("/static/images/1bb66e7c7127db1ae04d0707edad1688ac02a31a60dcebb797cd5b9a05484af71e51d326fff4889d99962c13eb72e7bc597c5dd16d8434b3d5aabc_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 261px;
  height: 261px;
  background-image: url("/static/images/d8e003743e6f5ae6c960d5e0705b653ba8900c629ce88753fed18214d0c3908955d3ea665a49d95cd865ca1949c395bdcc714f6cb24dff63db8755_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 261px;
  height: 261px;
  background-image: url("/static/images/fgg5.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.8;
  --animation-custom_in-scale: 0.3;
  margin: 0 195px 0 88px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: 30px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 353px;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 811px;
  }

  .u-section-6 .u-image-1 {
    width: 288px;
    height: 288px;
  }

  .u-section-6 .u-image-2 {
    width: 288px;
    height: 288px;
  }

  .u-section-6 .u-image-3 {
    width: 288px;
    height: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}
.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 353px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 758px;
  margin: 17px auto 0;
}

.u-section-7 .u-group-1 {
  width: 650px;
  min-height: 250px;
  margin: 30px auto 60px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }
}
