{% extends 'base.html' %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      
      <form id='movie-search-form' method="POST">

        <input id='movie-name' type="text"> </input>

        <button type="Submit" class="btn btn-outline-success btn-block">Search</button>
        
        </form>

    </div>
  </div>

  <div id='movie-list' class="row card-deck">
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/movie-search.js"></script>
{% endblock %}