{% extends 'base.html' %}

<!-- Header section with movie search bar -->
{% block topcontent %}
<section class="jumbotron text-center py-5 bg-light" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/static/images/movies-background.jpeg'); background-size:60%;">
  <div class="container">
    <h1 class="jumbotron-heading text-light">SEARCH MOVIES</h1>
    <p class="lead text-light">Look up Movies to see Movie Locations!</p>
    <p>
      <form id='movie-search-form' method="POST">
        <input id='movie-name' type="text"> </input>
        <button type="Submit" class="btn btn-primary my-2 mx-2">Search</button>
      </form>
    </p>
  </div>
</section>
{% endblock %}


<!-- Bottom part where movies are generated -->
{% block content %}

  <div id='movie-list' class="row card-deck my-3" style="min-height: 70vw">
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/movie-search.js"></script>
{% endblock %}