<html>
  <head>
    <title>Geocoding Service</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>
      const process = { env: {} };
      process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg";
    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/stylesheets/geolocation.css"
    />
    <script type="module" src="/static/geolocation.js"></script>
  </head>
  <body>
    <h1>map</h1>
    <div id="map" style="height: 70%; width: 70%"></div>
    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp1jKqmi89h2mhNsKtSZYK3-IT3xEq8go&callback=initMap&v=weekly"
      defer
    ></script>
    <label for="location_lat">Location lat</label>
    <input
      id="location_lat"
      name="location_lat"
      required
      type="text"
      value=""
    />
    <label for="location_lng">Location long</label>
    <input
      id="location_lng"
      name="location_lng"
      required
      type="text"
      value=""
    />
    <label for="location_f_address">Location full address</label>
    <input
      id="location_f_address"
      name="location_f_address"
      required
      type="text"
      value=""
    />
  </body>
</html>
